body {
  background-image: url("../assets/sci_fi_bg1.jpg");
  background-color: #778095;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

#start-game, #play-again {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #7A8B95;
  border: 3px solid #311118;
  height: 80px;
  width: 300px;
  padding: 20px;
  color: white;
}

.game-screen {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin: 15px 0;
}

.header h1 {
  font-size: 60px;
  font-weight: 900;
}

a {
  text-decoration: underline;
  color: #ABB4BB;
}

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.game-box {
  position: relative;
  border: 5px solid #311118;
  background-color: #5C6883;
}

.score {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #311118;
  background-color: #7A8B95;
}

.score h6 {
  margin: 0;
}

.rules-aside {
  width: 240px;
  height: 580px;
  background-color: #7A8B95;
  border: 5px solid #311118;
  color: white;
  padding: 10px 5px;
}

.rules-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-weight: 700;
}

h6 {
  margin-bottom: 8px;
  text-decoration: underline;
  font-size: 20px;
}

.rules-list p {
  text-align: left;
  color: black;
}

.rules-list td {
  color: black;
}

.rules-list td:first-child {
  text-align: right;
  padding-right: 10px;
}

.rules-list td:last-child {
  text-align: left;
}

button {
  padding: 10px;
  background-color: #5C6883;
  font-size: 20px;
  border: 1px solid #311118;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}

.footer {
  padding: 10px 0;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
}
